@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: #303030;
}

#root {
    height: 100%;
}

.active-link {
 border-bottom: 2px;   
}

select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #2d2b30;
    color: #d0cccc;
    outline: none;
  }
  

  button:focus {
    outline: none;
  }